* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --clr-lightGray: #eceaea;
  --clr-darkGray: #233142;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--clr-darkGray);
}
.container {
  width: min(80%, 90rem);
  margin-inline: auto;
}
/*------------------Navbar Component---------------------*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu li {
  list-style-type: none;
  margin: 2rem 1rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 50px 50px;
  transition: 0.2s ease-in-out;
}
.nav-menu li:hover {
  background: var(--clr-lightGray);
}

/*------------Section 1 Component----------------------*/

.padding {
  padding: 0.5rem 0 0 0;
}

/*-------------Project 1 Component---------------*/
.project-section::before {
  content: "Project";
  display: block;
  background: var(--clr-darkGray);
  height: 2px;
  width: min(80%, 90rem);
  margin-inline: auto;
}
.project-section::after {
  content: "";
  display: block;
  background: var(--clr-darkGray);
  height: 2px;
  width: min(80%, 90rem);
  margin-inline: auto;
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 50vh;
  padding: 5rem 0;
}

.project-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.5rem;
}
.project-col {
  width: 50%;
}
.title {
  font-weight: 550;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
.project-img img {
  width: 100%;
}
.stacks {
  margin-bottom: 1.5rem;
}
.stacks {
  font-size: 1.5rem;
}
.buttons a {
  text-decoration: none;
  padding: 0.5rem;
  background: var(--clr-darkGray);
  color: #fff;
  margin-right: 1rem;
}
.description {
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
}
/*-------------Project 2 Component---------------*/
